.headerBox {
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: black;
  padding: 10px 80px;
  align-items: center;
  justify-content: space-between;
  opacity: 0.9;
  z-index: 15;
  left: 0;
  top: 0;
}
.sideBarBox {
  width: 300px;
}

.title {
  color: white;
}
.inputHolder {
  display: flex;
  position: fixed;
  top: 20px;
  right: 40px;
}
.btnToggle {
  position: fixed;
  z-index: 15;
  top: 10px;
  left: 20px;
  width: 48px;
  height: 48px;
  background-image: url('../../images/yukki-logo.jpg');
  background-size: cover;
  outline-color: transparent;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.searchIcon {
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border-color: transparent;
  border-radius: 50%;
  transition: 250ms;
}
.searchIcon:hover {
  background-color: rgb(34, 34, 34);
}

.searchInput {
  display: none;
  transition: 1s;
}
.searchBackbtn {
  display: none;
  transition: 1s;
}

.inputHolder:hover .searchInput {
  display: block;
  transition: 1s;
}
